:root {
  --black: #000;
  --light-black: #030303;
  --dark-gray: #212121;
  --gray: #3c3c3c;
  --white: #ffff;
  --pale-green: rgb(94, 111, 90);
  --light-green: rgb(149, 255, 42);
  --green: rgb(108, 189, 27);
  --light-gray: rgb(150, 149, 149);
  --blue: rgb(82, 118, 249);
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
  background-color: var(--black);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--black);
}
.nav__logo {
  padding: 0.7em;
  color: var(--green);
  text-decoration: none;
  font-size: 1.8rem;
  transition: color 0.2s ease-in-out;
  animation: logoAnimation 3s ease-in-out;
  animation-iteration-count: 3;
}
@keyframes logoAnimation {
  0% {
    color: var(--green);
  }
  25% {
    color: var(--light-green);
  }
  50% {
    color: var(--green);
  }
  75% {
    color: var(--light-green);
  }
  100% {
    color: var(--green);
  }
}
.nav__burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5.5em;
  height: 4.5em;
  padding: 1.5em;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.nav__burger-btn-bar {
  width: 100%;
  height: 0.05em;
  background-color: var(--white);
  transition: transform 0.2s ease-in-out;
}
.nav__burger-btn .bar-first,
.nav__burger-btn .bar-third {
  transform: translateX(25%);
}
.nav__burger-btn:hover .bar-first,
.nav__burger-btn:hover .bar-third,
.nav .burger-btn--active .bar-first,
.nav .burger-btn--active .bar-third {
  transform: translateX(0%);
}
.nav__items {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  padding-top: 1em;
  text-align: center;
  font-style: italic;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  background-color: var(--black);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 5;
}
.nav__item {
  position: relative;
  padding: 1.5em 0;
  margin: 1em 0;
  color: var(--white);
  text-decoration: none;
  font-weight: 200;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out;
}
.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 5%;
  background-color: var(--light-green);
  opacity: 0.5;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out, height 0.2s ease-in-out 0.2s;
  z-index: -1;
}
.nav .burger-menu--active {
  visibility: visible;
  opacity: 1;
}

.header {
  position: relative;
  overflow-x: hidden;
}
.header__title {
  position: absolute;
  right: 0;
  top: 30%;
  width: 70%;
  padding: 1em;
  color: var(--white);
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.2em;
  font-size: 2rem;
  font-weight: 700;
  border-left: 1px solid var(--white);
  animation: fadeInHeaderTitle ease 2.5s;
  z-index: 1;
}
.header__bg {
  width: 100%;
  height: 100dvh;
  background-image: url("../img/man-7072455_1280.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.header__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--dark-gray);
  opacity: 0.5;
}
@keyframes fadeInHeaderTitle {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}

.section {
  padding-top: 7.7em;
}
.section__container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  color: var(--white);
  opacity: 0;
}
.section .section__container-active {
  opacity: 1;
}
.section__title-box {
  width: 60%;
  border-top: 3px solid var(--white);
}
.section__title {
  padding-right: 0.2em;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  text-align: end;
  color: var(--light-green);
}
.section__content-box {
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
}
.section__content-title {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.section__content-text {
  padding: 2em 0;
  color: var(--light-gray);
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.5em;
}
.section .fade-left-active {
  animation: fadeLeftSection 1s ease-in-out;
}
@keyframes fadeLeftSection {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  margin: 0 1em;
  text-align: center;
}

.social-link {
  padding: 0.2em 0.5em;
  font-size: 1.2rem;
  text-decoration: none;
}

.about-us__social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-us__social-text {
  font-size: 0.7rem;
}
.about-us .social-box {
  border: 1px solid var(--white);
  transition: box-shadow 0.2s ease-in-out;
}
.about-us .social-link {
  color: var(--white);
}

.bikes {
  position: relative;
  height: 90vh;
  overflow: hidden;
}
.bikes__select {
  width: 60%;
  padding: 1em 0em 1em 0.5em;
  margin: 2em 0;
  text-align: center;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: 6px 6px 0px 0px var(--light-green);
  transition: box-shadow 0.3s ease, border 0.3s ease;
  appearance: none;
}
.bikes__select:hover {
  border: 1px solid var(--light-green);
  box-shadow: 0px 0px 0px 0px var(--light-green);
  cursor: pointer;
}
.bikes__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding: 2em 2em 80px 2em;
}
.bikes__card {
  flex-direction: column;
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white);
}
.bikes__card-img {
  align-self: center;
  overflow: hidden;
  pointer-events: none;
}
.bikes__card-img img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
}
.bikes__card-spec {
  padding: 1em 0 2em 0;
  pointer-events: none;
}
.bikes__card-spec-name {
  padding: 1em 0;
  font-size: 1rem;
}
.bikes__card-spec-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0.5em;
}
.bikes__card-spec-icon {
  width: 10%;
  height: auto;
  font-size: 1rem;
  text-align: center;
}
.bikes__card-spec-bar {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.bikes__card-spec-square {
  width: 1em;
  height: 1em;
  border: 1px solid var(--gray);
}
.bikes .card--show {
  animation: fadeIn 0.8s ease-out;
}
.bikes__card:hover,
.bikes .card--active {
  border-color: var(--light-green);
  cursor: pointer;
}
.bikes__card:hover img,
.bikes .card--active img {
  transform: scale(1.3);
}
.bikes .squares--color {
  background-color: var(--light-green);
  border-color: var(--light-green);
}
.bikes .show-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1.2rem;
  font-style: italic;
}
.bikes .show-btn__icon {
  transition: text-shadow 0.2s ease;
}
.bikes .show-btn__text:last-child {
  display: none;
}
.bikes .show-btn:hover .show-btn__icon {
  text-shadow: 0px 5px 0px var(--light-green);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bikes--show {
  height: auto;
}
.bikes--show .show-btn__icon {
  transform: rotate(180deg);
}
.bikes--show .show-btn__text:last-child {
  display: block;
}
.bikes--show .show-btn__text:first-child {
  display: none;
}

.routes {
  position: relative;
  height: auto;
}
.routes__content {
  align-self: center;
  width: 90%;
}
.routes__map-links {
  font-size: 0.7rem;
}
.routes__map-links a {
  color: var(--white);
}
.routes--line-svg {
  display: none;
  position: absolute;
  top: 8em;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
.routes--line-path {
  fill: none;
  stroke-width: 4;
  stroke: var(--light-green);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
@keyframes dashAnimation {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.routes__cards {
  padding-top: 5em;
}
.routes__cards-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}
.routes__cards-box {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
}
.routes__cards-card {
  position: relative;
  padding: 4em 2em;
}
.routes__cards-number {
  position: absolute;
  top: -0.4em;
  left: 50%;
  font-size: 7rem;
  font-weight: 700;
  font-style: italic;
  color: var(--light-green);
  transform: translate(-50%, 0);
  z-index: -1;
  opacity: 0.4;
}
.routes__cards-text {
  font-size: 0.9rem;
  line-height: 1.5em;
  font-weight: 200;
  text-align: center;
  color: var(--light-gray);
}
.routes__cards-types {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1em;
}
.routes__cards-name {
  padding-bottom: 0.2em;
  font-size: 1.3rem;
  font-weight: 200;
  font-style: italic;
}
.routes__cards-list {
  list-style-type: square;
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--light-gray);
}
.routes__cards-list li {
  padding: 0.2em 0;
  list-style-type: none;
}
.routes__cards-type {
  padding: 1em;
}
.routes__cards-type .routes__cards-list--color {
  transition: color 0.2s ease-in-out;
}
.routes__cards-type li:nth-child(1) .routes__cards-list--color {
  transition-delay: 0.1;
}
.routes__cards-type li:nth-child(2) .routes__cards-list--color {
  transition-delay: 0.2s;
}
.routes__cards-type li:nth-child(3) .routes__cards-list--color {
  transition-delay: 0.3s;
}
.routes__cards-type:hover,
.routes__cards .type-active {
  cursor: pointer;
}
.routes__cards-type:hover .routes__cards-list--color,
.routes__cards .type-active .routes__cards-list--color {
  color: var(--light-green);
}

.service__content-box {
  align-self: flex-end;
}
.service__carousel {
  display: flex;
  position: relative;
  width: 100%;
  overflow: auto;
  margin: auto;
}
.service__carousel-card {
  display: none;
  flex-direction: column;
  padding: 0em 3em;
  width: 100%;
}
.service__carousel-text {
  padding-bottom: 2em;
  font-size: 0.9rem;
  color: var(--light-gray);
  font-weight: 200;
  line-height: 1.4em;
}
.service__carousel-img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  object-fit: fill;
}
.service__carousel-img-first {
  background-image: url("../img/service/repair1.jpg");
}
.service__carousel-img-second {
  background-image: url("../img/service/repair3.jpg");
}
.service__carousel-img-third {
  background-image: url("../img/service/repair4.jpg");
}
.service__carousel-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 3em;
}
.service__carousel-squares {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.service__carousel-square {
  width: 20px;
  height: 20px;
  margin: 0 0.5em;
  border: 1px solid var(--light-gray);
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.service__carousel-square:hover {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}
.service__carousel-btn {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  color: var(--white);
  border: 1px solid var(--white);
  cursor: pointer;
  transition: 0.2s ease-out;
}
.service__carousel-btn .fa-chevron-left,
.service__carousel-btn .fa-chevron-right {
  transition: color 0.2s ease;
}
.service__carousel-btn:hover {
  border-color: var(--light-green);
}
.service__carousel-btn:hover .fa-chevron-left,
.service__carousel-btn:hover .fa-chevron-right {
  color: var(--black);
}
.service__carousel-btn-right {
  background: linear-gradient(to left, transparent 50%, var(--light-green) 50%);
  background-size: 200%;
  background-position: right;
}
.service__carousel-btn-right:hover {
  background-position: left;
}
.service__carousel-btn-left {
  background: linear-gradient(to right, transparent 50%, var(--light-green) 50%);
  background-size: 200%;
  background-position: left;
}
.service__carousel-btn-left:hover {
  background-position: right;
}
.service__carousel .fade {
  animation: fade 1.2s ease-in-out;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.service .square--active {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}

.contact__content-box {
  align-self: end;
}
.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2em;
}
.contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 2em;
  border: 1px solid var(--light-green);
}
.contact__form-legend {
  padding: 0.5em 0;
  font-size: 1.3rem;
}
.contact__form-legend--color {
  color: var(--light-green);
  font-style: italic;
}
.contact__form-label {
  padding: 0.7em 0;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}
.contact__form-select {
  appearance: none;
}
.contact__form-textarea {
  width: auto;
  resize: vertical;
}
.contact__form-input, .contact__form-select, .contact__form-textarea {
  margin: 1em 0;
  padding: 1em 0.5em;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--light-gray);
  outline: none;
  transition: box-shadow 0.3s ease;
}
.contact__form-input:focus, .contact__form-select:focus, .contact__form-textarea:focus {
  box-shadow: 5px 5px 0 0 var(--light-green);
}
.contact__form-btn {
  align-self: flex-end;
  width: 100px;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 0.9rem;
  font-style: italic;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--light-gray);
  outline: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
}
.contact__form-btn:hover {
  border-color: var(--light-green);
}
.contact__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2em;
}
.contact__link {
  display: flex;
  align-items: center;
  padding: 1.2em 1em;
  text-decoration: none;
  color: var(--white);
  font-weight: 200;
}
.contact__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  padding: 1em;
  border: 1px solid var(--light-gray);
  font-size: 1.2rem;
  transition: box-shadow 0.3s ease, border-color 0.3s 0.1s ease-in;
}
.contact__link-text {
  font-size: 1rem;
  width: 140px;
  margin-left: 1.5em;
}

.photos {
  display: flex;
  flex-direction: column;
}
.photos__gallery {
  align-self: center;
  max-width: 1800px;
  padding: 5em 2em;
}
.photos__gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.photos__gallery li {
  list-style-type: none;
  height: 40vh;
  flex-grow: 1;
  overflow: hidden;
}
.photos__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: bottom;
  transition: transform 0.2s ease;
}
.photos__gallery li:hover {
  cursor: pointer;
}
.photos__gallery li:hover .photos__gallery-img {
  transform: scale(1.2);
}

.footer {
  position: relative;
  width: 100%;
  padding-top: 2em;
}
.footer__bg {
  width: 100%;
  height: 0;
  padding: 0;
  padding-bottom: 92%;
  padding-bottom: 50%; /* zmiana na 4 przy 576px*/
  background-image: url("../footer__mountains.svg");
  background-size: cover;
}
.footer__content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 7em 0 1.5em 0;
  color: var(--black);
  transform: translate(-50%, -50%);
}
.footer__container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.footer__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5em;
}
.footer__brand .fa-mountain-sun {
  font-size: 1.2rem;
}
.footer__link {
  display: none;
  width: 120px;
  padding: 0.5em;
}
.footer__link:hover {
  color: var(--gray);
}
.footer__title {
  margin-left: 1em;
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.footer__creator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__creator-socials {
  display: none;
  flex-direction: row;
  padding-bottom: 2em;
}
.footer__creator-text {
  color: var(--gray);
  font-size: 0.8rem;
}
.footer__creator-link {
  color: var(--black);
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
.footer__text, .footer__year {
  font-size: 0.9rem;
}
.footer .social-box {
  border: 2px solid var(--black);
}
.footer .social-link {
  color: var(--black);
}

@media (hover: hover) {
  .nav__logo:hover {
    color: var(--light-green);
  }
  .nav__item:hover::after,
.nav .nav--active::after {
    transform: translateX(0%);
    height: 50%;
  }
  .about-us .social-box:hover {
    box-shadow: 6px 6px 0px 0px var(--light-green);
    cursor: pointer;
  }
  .contact__link:hover .contact__link-icon {
    box-shadow: 5px 5px 0 0 var(--light-green);
    border-color: var(--light-green);
  }
  .footer .social-box:hover {
    border: 2px solid var(--pale-green);
    cursor: pointer;
  }
  .footer .social-box:hover .social-link {
    color: var(--pale-green);
  }
}
@media (hover: none) {
  .about-us .social-box {
    box-shadow: 6px 6px 0px 0px var(--light-green);
  }
  .contact__link-icon {
    box-shadow: 5px 5px 0 0 var(--light-green);
  }
}
@media (min-width: 500px) {
  .footer__content {
    padding: 6em 0 1.5em 0;
  }
  .footer__bg {
    padding-bottom: 25%; /* zmiana na 4 przy 576px*/
  }
}
@media (min-width: 576px) {
  .header__title {
    width: 50%;
    font-size: 2.2rem;
  }
  .section__content-box {
    padding: 4em 4em;
  }
  .bikes__card-spec {
    padding: 1em 0 4em 1em;
  }
  .bikes__card-spec-name {
    font-size: 1.6rem;
  }
  .bikes__card-spec-content {
    padding-bottom: 0.7em;
  }
  .bikes__card-spec-icon {
    font-size: 1.3rem;
  }
  .bikes__card-spec-square {
    width: 1.2em;
    height: 1.2em;
    border: 1px solid var(--gray);
  }
  .footer__content {
    padding: 7em 0 1.5em 0;
  }
}
@media (min-width: 768px) {
  .nav__logo {
    margin-left: 1em;
  }
  .nav__burger-btn {
    margin-right: 2em;
  }
  .header__title {
    font-size: 2.4rem;
  }
  .section__title-box {
    width: 30%;
    border-top: 3px solid var(--white);
  }
  .section__title {
    padding-left: 0.5em;
    font-size: 2.4rem;
  }
  .section__content-box {
    padding: 8em 4em;
    width: 70%;
  }
  .section__content-title {
    font-size: 1.8rem;
  }
  .section__content-text {
    padding: 2em 0;
    font-size: 1.1rem;
    line-height: 1.8em;
  }
  .about-us .section__container {
    flex-direction: row;
  }
  .about-us__social-text {
    font-size: 1rem;
  }
  .bikes__content-box {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .bikes__select {
    width: 50%;
    margin: 2em 0 2em 2em;
  }
  .bikes__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .bikes__card {
    flex: 1 1 31.5%;
  }
  .bikes__card-spec-name {
    font-size: 1.3rem;
  }
  .bikes__card-spec-icon {
    font-size: 1rem;
  }
  .bikes__card-spec-square {
    width: 1em;
    height: 1em;
  }
  .routes__content-box {
    align-self: flex-end;
  }
  .routes--line-svg {
    display: block;
  }
  .service__content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .service__carousel {
    align-self: center;
  }
  .service__carousel-card {
    flex-direction: row;
    padding: 0em 4em;
  }
  .service__carousel-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0em 4em;
    font-size: 1rem;
  }
  .service__carousel-img {
    width: 50%;
  }
  .service__carousel-btns {
    padding: 4em;
  }
  .contact__content {
    flex-direction: row;
  }
  .contact__links {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .contact__link {
    padding: 3em 1em;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__brand {
    align-self: flex-start;
  }
  .footer__brand .fa-mountain-sun {
    font-size: 1.4rem;
  }
  .footer__link {
    display: block;
    color: var(--black);
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
  .footer__creator-socials {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
  }
  .footer__creator-text {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav__menu {
    width: auto;
  }
  .nav__logo {
    transition: color 0.2s ease-in-out;
  }
  .nav__burger-btn {
    display: none;
  }
  .nav__items {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    padding-top: 0;
    flex: 1;
    font-size: 1rem;
    visibility: visible;
    opacity: 1;
  }
  .nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 100%;
    padding: 1.2em 1.2em;
    margin: 0;
    font-weight: 400;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
  }
  .nav__item::after {
    top: 0;
    width: 85%;
    height: 50%;
    transform: translateY(-120%);
    transition: transform 0.2s ease-in-out;
  }
  .nav__item:hover::after {
    transform: translateY(0%);
    height: 50%;
  }
  .bikes__card-spec-name {
    font-size: 1.6rem;
  }
  .bikes__card-spec-icon {
    font-size: 1.3rem;
  }
  .bikes__card-spec-square {
    width: 1.2em;
    height: 1.2em;
  }
  .routes__cards {
    padding-top: 7em;
  }
  .routes__cards-title {
    font-size: 1.8rem;
  }
  .routes__cards-box {
    padding-top: 4em;
  }
  .routes__cards-card {
    padding: 4em 2em;
  }
  .routes__cards-number {
    font-size: 7rem;
  }
  .routes__cards-text {
    font-size: 1.1rem;
  }
  .routes__cards-type {
    padding: 1em;
  }
  .routes__cards-name {
    font-size: 1.5rem;
  }
  .routes__cards-list {
    font-size: 1rem;
  }
  .routes__cards-list li {
    padding: 0.3em 0;
  }
  .contact__form-legend {
    font-size: 1.7rem;
  }
  .contact__form-input, .contact__form-select, .contact__form-textarea {
    padding: 1.3em 0.8em;
    font-size: 0.9rem;
  }
  .contact__form-btn {
    width: 120px;
    padding: 0.7em;
  }
  .contact__link {
    padding: 4em 1em;
  }
  .contact__link-icon {
    font-size: 1.5rem;
  }
  .contact__link-text {
    font-size: 1.3rem;
    width: 200px;
    margin-left: 2em;
  }
}
@media (min-width: 1200px) {
  .nav__logo {
    margin-left: 1em;
  }
  .nav__items {
    padding-right: 2em;
  }
  .header__title {
    font-size: 2.8rem;
  }
  .bikes__select {
    width: 20%;
  }
  .footer__brand {
    padding-bottom: 2em;
  }
  .footer__title {
    font-size: 1.6rem;
  }
  .footer__link {
    width: 180px;
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .section__content-box {
    padding: 8em 8em;
  }
  .bikes__card {
    max-width: 30%;
  }
  .routes__content {
    max-width: 1400px;
  }
  .routes__cards-title {
    font-size: 2.1rem;
  }
  .service__carousel-img {
    height: 400px;
  }
  .contact__content {
    padding: 0;
  }
  .contact__form-legend {
    font-size: 2rem;
  }
  .contact__form-input, .contact__form-select, .contact__form-textarea {
    font-size: 1rem;
  }
  .contact__form-btn {
    font-size: 1rem;
  }
  .contact__link {
    padding: 3em 1em;
    justify-content: space-evenly;
  }
  .contact__link-icon {
    font-size: 1.5rem;
  }
  .contact__link-text {
    font-size: 1.3rem;
    width: 200px;
    margin-left: 6em;
  }
  .footer__bg {
    padding-bottom: 20%; /* zmiana na 4 przy 576px*/
  }
}/*# sourceMappingURL=bike-style.css.map */