:root {
  --black: #000;
  --light-black: #030303;
  --dark-gray: #212121;
  --gray: #3c3c3c;
  --white: #ffff;
  --pale-green: rgb(94, 111, 90);
  --light-green: rgb(149, 255, 42);
  --green: rgb(108, 189, 27);
  --light-gray: rgb(150, 149, 149);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  overflow: hidden;
  background-color: var(--black);
}

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--black);
}
.nav__logo {
  padding: 0.7em;
  color: var(--green);
  text-decoration: none;
  font-size: 1.8rem;
  transition: color 0.2s ease-in-out;
}
.nav__logo:hover {
  color: var(--light-green);
}
.nav__burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5.5em;
  height: 4.5em;
  padding: 1.5em;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.nav__burger-btn-bar {
  width: 100%;
  height: 0.05em;
  background-color: var(--white);
  transition: transform 0.2s ease-in-out;
}
.nav__burger-btn .bar-first,
.nav__burger-btn .bar-third {
  transform: translateX(25%);
}
.nav__burger-btn:hover .bar-first,
.nav__burger-btn:hover .bar-third,
.nav .burger-btn-active .bar-first,
.nav .burger-btn-active .bar-third {
  transform: translateX(0%);
}
.nav__items {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-top: 3em;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  background-color: var(--black);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 5;
}
.nav__item {
  position: relative;
  padding: 1.5em 0;
  color: var(--white);
  text-decoration: none;
  font-weight: 200;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out;
}
.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 5%;
  background-color: var(--light-green);
  opacity: 0.5;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out, height 0.2s ease-in-out 0.2s;
}
.nav__item:hover::after {
  transform: translateX(0%);
  height: 50%;
}
.nav .burger-menu-active {
  visibility: visible;
  opacity: 1;
}

.header {
  position: relative;
}
.header__title {
  position: absolute;
  right: 0;
  top: 200px;
  width: 70%;
  padding: 1em;
  color: var(--white);
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.2em;
  font-size: 2rem;
  font-weight: 700;
  border-left: 1px solid var(--white);
  animation: fadeInHeaderTitle ease 2.5s;
  z-index: 1;
}
.header__bg {
  width: 100%;
  height: 80vh;
  background-image: url("../img/man-7072455_1280.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.header__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: var(--dark-gray);
  opacity: 0.5;
}
@keyframes fadeInHeaderTitle {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .header__title {
    top: 200px;
    width: 50%;
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) {
  .nav__logo {
    margin-left: 1em;
  }
  .nav__burger-btn {
    margin-right: 2em;
  }
  .header__title {
    top: 250px;
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav__menu {
    width: auto;
  }
  .nav__logo {
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
  }
  .nav__burger-btn {
    display: none;
  }
  .nav__items {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    padding-top: 0;
    flex: 1;
    font-size: 1rem;
    visibility: visible;
    opacity: 1;
  }
  .nav__item {
    width: 134px;
    padding: 2em 1.2em;
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out;
  }
  .nav__item::after {
    top: 0;
    width: 85%;
    height: 70%;
    transform: translateY(-120%);
    transition: transform 0.2s ease-in-out;
  }
  .nav__item:hover::after {
    transform: translateY(0%);
    height: 70%;
  }
}
@media (min-width: 1200px) {
  .nav__logo {
    margin-left: 1em;
  }
  .nav__items {
    padding-right: 2em;
  }
  .header__title {
    top: 250px;
    font-size: 2.8rem;
  }
}/*# sourceMappingURL=bike-style.css.map */