:root {
	--black: #000;
	--light-black: #030303;
	--dark-gray: #212121;
	--gray: #3c3c3c;
	--white: #ffff;
	--pale-green: rgb(94, 111, 90);
	--light-green: rgb(149, 255, 42);
	--green: rgb(108, 189, 27);
	--light-gray: rgb(150, 149, 149);
	--blue: rgb(82, 118, 249);
	--red: red;
}
