@use './colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 62.5%;
	font-family: 'Mulish', sans-serif;
	overflow-x: hidden;
	background-color: var(--black);
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;

	&__menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: var(--black);
	}

	&__logo {
		padding: 0.7em;
		color: var(--green);
		text-decoration: none;
		font-size: 1.8rem;
		transition: color 0.2s ease-in-out;
	}

	&__burger-btn {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 5.5em;
		height: 4.5em;
		padding: 1.5em;
		background-color: transparent;
		border: 1px solid transparent;
		cursor: pointer;

		&-bar {
			width: 100%;
			height: 0.05em;
			background-color: var(--white);
			transition: transform 0.2s ease-in-out;
		}

		.bar-first,
		.bar-third {
			transform: translateX(25%);
		}
	}

	&__burger-btn:hover,
	.burger-btn--active {
		.bar-first,
		.bar-third {
			transform: translateX(0%);
		}
	}

	&__items {
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 100dvh;
		width: 100%;
		padding-top: 1em;
		text-align: center;
		font-style: italic;
		font-size: 1.1rem;
		letter-spacing: 0.1em;
		background-color: var(--black);
		visibility: hidden;
		opacity: 0;
		transition:
			opacity 0.2s ease-in-out,
			visibility 0.2s ease-in-out;
		z-index: 5;
	}

	&__item {
		// margin: 1em 0;
		position: relative;
		padding: 1.5em 0;
		margin: 1em 0;
		color: var(--white);
		text-decoration: none;
		font-weight: 200;
		text-transform: uppercase;
		transition: box-shadow 0.2s ease-in-out;
	}

	&__item::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 80%;
		height: 5%;
		background-color: var(--light-green);
		opacity: 0.5;
		transform: translateX(-100%);
		transition:
			transform 0.2s ease-in-out,
			height 0.2s ease-in-out 0.2s;
		z-index: -1;
	}

	.burger-menu--active {
		visibility: visible;
		opacity: 1;
	}
}

.header {
	position: relative;
	overflow-x: hidden;

	&__title {
		position: absolute;
		right: 0;
		top: 30%;
		width: 70%;
		padding: 1em;
		color: var(--white);
		text-transform: uppercase;
		font-style: italic;
		line-height: 1.2em;
		font-size: 2rem;
		font-weight: 700;
		border-left: 1px solid var(--white);
		// text-shadow: 4px 0px 0px var(--black);
		animation: fadeInHeaderTitle ease 2.5s;
		// opacity: 0;
		z-index: 1;
	}
	&__bg {
		width: 100%;
		height: 100dvh;
		background-image: url('../img/man-7072455_1280.jpg');
		background-position: center;
		background-size: cover;
		object-fit: cover;
	}

	&__bg::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100dvh;
		background-color: var(--dark-gray);
		opacity: 0.5;
	}

	@keyframes fadeInHeaderTitle {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}
		100% {
			opacity: 1;
		}
	}
}

.section {
	display: flex;
	flex-direction: column;
	padding-top: 7.7em;
	color: var(--white);

	&__title-box {
		width: 60%;
		// padding-bottom: 3em;
		border-top: 3px solid var(--white);
	}

	&__title {
		padding-right: 0.2em;
		font-size: 2.2rem;
		font-weight: 700;
		font-style: italic;
		text-transform: uppercase;
		text-align: end;
		color: var(--light-green);
	}

	&__content-box {
		display: flex;
		flex-direction: column;
		padding: 4em 2em;
	}

	&__content-title {
		font-size: 1.3rem;
		text-transform: uppercase;
	}

	&__content-text {
		padding: 2em 0;
		color: var(--light-gray);
		font-weight: 200;
		font-size: 0.9rem;
		line-height: 1.5em;
	}
}

.social-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3em;
	height: 3em;
	margin: 0 1em;
	text-align: center;
}

.social-link {
	padding: 0.2em 0.5em;
	font-size: 1.2rem;
	text-decoration: none;
}

.about-us {
	&__social {
		display: flex;
		flex-direction: row;
		align-items: center;

		&-text {
			font-size: 0.7rem;
		}
	}

	.social-box {
		border: 1px solid var(--white);
		transition: box-shadow 0.2s ease-in-out;
	}

	.social-link {
		color: var(--white);
	}
}

.bikes {
	position: relative;
	// overflow: hidden;
	height: 90vh;
	overflow: hidden;

	&__select {
		width: 60%;
		padding: 1em 0em 1em 0.5em;
		margin: 2em 0;
		text-align: center;
		background: transparent;
		border: 1px solid var(--white);
		color: var(--white);
		font-size: 1rem;
		text-transform: uppercase;
		box-shadow: 6px 6px 0px 0px var(--light-green);
		transition:
			box-shadow 0.3s ease,
			border 0.3s ease;
		appearance: none;
	}

	&__select:hover {
		border: 1px solid var(--light-green);
		box-shadow: 0px 0px 0px 0px var(--light-green);
		cursor: pointer;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4em;
		// position: relative;
		// top: 50px;
		// left: 0;
		padding: 2em 2em 80px 2em;
	}

	&__card {
		// display: flex;
		flex-direction: column;
		border-bottom: 1px solid var(--white);
		border-right: 1px solid var(--white);

		&-img {
			align-self: center;
			overflow: hidden;
			pointer-events: none;

			img {
				width: 100%;
				height: auto;
				transition: transform 0.2s ease;
			}
		}

		&-spec {
			// display: flex;
			// flex-direction: column;
			padding: 1em 0 2em 0;
			pointer-events: none;

			&-name {
				padding: 1em 0;
				font-size: 1rem;
			}

			&-content {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				padding-bottom: 0.5em;
				// padding: 1em 0;
			}

			&-icon {
				width: 10%;
				height: auto;
				font-size: 1rem;
				// margin-right: 1.6em;
				text-align: center;
			}

			&-bar {
				display: flex;
				flex-direction: row;
				gap: 1em;
			}

			&-square {
				width: 1em;
				height: 1em;
				border: 1px solid var(--gray);
				// transition: background-color 0.7s ease;
			}
		}
	}

	.card--show {
		animation: fadeIn 0.8s ease-out;
	}

	&__card:hover,
	.card--active {
		border-color: var(--light-green);
		cursor: pointer;

		img {
			transform: scale(1.3);
		}
	}

	.squares--color {
		background-color: var(--light-green);
		border-color: var(--light-green);
	}

	.show-btn {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 80px;
		background-color: var(--black);
		color: var(--white);
		border: 1px solid transparent;
		cursor: pointer;
		font-size: 1.2rem;
		font-style: italic;
		// border-bottom: 1px solid var(--white);

		&__icon {
			transition: text-shadow 0.2s ease;
		}

		&__text:last-child {
			display: none;
		}
	}

	.show-btn:hover {
		.show-btn__icon {
			text-shadow: 0px 5px 0px var(--light-green);
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(50px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.bikes--show {
	height: auto;

	.show-btn__icon {
		transform: rotate(180deg);
	}

	.show-btn__text:last-child {
		display: block;
	}

	.show-btn__text:first-child {
		display: none;
	}
}

.routes {
	position: relative;
	height: auto;

	&__content {
		align-self: center;
		width: 90%;
	}

	&__map-links {
		font-size: 0.7rem;
		a {
			color: var(--white);
		}
	}

	&--line-svg {
		display: none;
		position: absolute;
		top: 8em;
		left: 0;
		width: 100%;
		z-index: -1;
		opacity: 0.4;
	}

	&--line-path {
		fill: none;
		stroke-width: 4;
		stroke: var(--light-green);
		// stroke-linecap: round;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		// animation: dashAnimation 5s linear forwards;
	}

	@keyframes dashAnimation {
		from {
			stroke-dashoffset: 1000;
		}
		to {
			stroke-dashoffset: 0;
		}
	}

	&__cards {
		padding-top: 5em;

		&-title {
			font-size: 1.5rem;
			text-transform: uppercase;
			font-style: italic;
			text-align: center;
		}

		&-box {
			display: flex;
			flex-direction: column;
			padding-top: 4em;
		}

		&-card {
			position: relative;
			padding: 4em 2em;
		}

		&-number {
			position: absolute;
			top: -0.4em;
			left: 50%;
			font-size: 7rem;
			font-weight: 700;
			font-style: italic;
			color: var(--light-green);
			transform: translate(-50%, 0);
			z-index: -1;
			opacity: 0.4;
		}

		&-text {
			font-size: 0.9rem;
			line-height: 1.5em;
			font-weight: 200;
			text-align: center;
			color: var(--light-gray);
		}

		&-types {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			padding-top: 1em;
		}

		&-type {
			padding: 1em;
		}

		&-name {
			padding-bottom: 0.2em;
			font-size: 1.3rem;
			font-weight: 200;
			font-style: italic;
		}

		&-list {
			list-style-type: square;
			font-size: 0.9rem;
			font-weight: 200;
			color: var(--light-gray);

			li {
				padding: 0.2em 0;
				list-style-type: none;
			}
		}

		&-type:hover {
			cursor: pointer;

			.routes__cards-list--color {
				animation: colorChange 0.2s ease-in-out forwards;
			}

			li:nth-child(1) .routes__cards-list--color {
				animation-delay: 0.2s;
			}
			li:nth-child(2) .routes__cards-list--color {
				animation-delay: 0.3s;
			}
			li:nth-child(3) .routes__cards-list--color {
				animation-delay: 0.4s;
			}
		}

		@keyframes colorChange {
			from {
				color: var(--light-gray);
			}
			to {
				color: var(--light-green);
			}
		}
	}
}

.service {
	&__content-box {
		align-self: flex-end;
	}

	&__carousel {
		display: flex;
		// flex-wrap: nowrap;
		// flex-direction: row;
		position: relative;
		width: 100%;
		overflow: auto;
		margin: auto;
		// transition: transform 0.3s ease-in-out;

		&-card {
			// flex: 0 0 100%;
			display: none;
			flex-direction: column;
			padding: 0em 3em;
			width: 100%;
			// box-sizing: border-box;
		}

		&-text {
			padding-bottom: 2em;
			font-size: 0.9rem;
			color: var(--light-gray);
			font-weight: 200;
			line-height: 1.4em;
		}

		&-img {
			width: 100%;
			height: 300px;
			background-size: cover;
			background-position: center;
			object-fit: fill;
		}
		&-img-first {
			background-image: url('../img/service/repair1.jpg');
		}
		&-img-second {
			background-image: url('../img/service/repair3.jpg');
		}
		&-img-third {
			background-image: url('../img/service/repair4.jpg');
		}

		&-btns {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-self: center;
			padding: 3em;
		}
		&-squares {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		&-square {
			width: 20px;
			height: 20px;
			margin: 0 0.5em;
			border: 1px solid var(--light-gray);
			cursor: pointer;
			transition:
				background-color 0.3s ease,
				border-color 0.3s ease;
		}

		&-square:hover {
			background-color: var(--light-green);
			border: 1px solid var(--light-green);
		}

		&-btn {
			width: 40px;
			height: 40px;
			font-size: 2rem;
			color: var(--white);
			// background-color: transparent;

			border: 1px solid var(--white);
			cursor: pointer;
			transition: 0.2s ease-out;

			.fa-chevron-left,
			.fa-chevron-right {
				transition: color 0.2s ease;
			}

			&:hover {
				border-color: var(--light-green);
				.fa-chevron-left,
				.fa-chevron-right {
					color: var(--black);
				}
				// .fa-chevron-left {
				// 	text-shadow: -10px 0 0 var(--light-green);
				// }
				// .fa-chevron-right {
				// 	text-shadow: 10px 0 0 var(--light-green);
				// }
			}

			&-right {
				background: linear-gradient(to left, transparent 50%, var(--light-green) 50%);
				background-size: 200%;
				background-position: right;
			}
			&-right:hover {
				background-position: left;
			}
			&-left {
				background: linear-gradient(to right, transparent 50%, var(--light-green) 50%);
				background-size: 200%;
				background-position: left;
			}
			&-left:hover {
				background-position: right;
			}
		}

		.fade {
			animation: fade 1.2s ease-in-out;
		}

		@keyframes fade {
			from {
				opacity: 0.4;
			}
			to {
				opacity: 1;
			}
		}
	}
	.square--active {
		background-color: var(--light-green);
		border: 1px solid var(--light-green);
	}
}

.contact {
	&__content-box {
		align-self: end;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 2em;
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 2em 2em;
		border: 1px solid var(--light-green);

		&-legend {
			padding: 0.5em 0;
			font-size: 1.3rem;
		}

		&-legend--color {
			color: var(--light-green);
			font-style: italic;
		}

		&-label {
			padding: 0.7em 0;
			font-size: 1rem;
			font-weight: 200;
			font-style: italic;
		}

		&-select {
			appearance: none;
		}

		&-textarea {
			width: auto;
			resize: vertical;
		}

		&-input,
		&-select,
		&-textarea {
			margin: 1em 0;
			padding: 1em 0.5em;
			background-color: var(--black);
			color: var(--white);
			border: 1px solid var(--light-gray);
			outline: none;
			// font-size: 0.8rem;
			transition: box-shadow 0.3s ease;
		}

		&-input:focus,
		&-select:focus,
		&-textarea:focus {
			// border-color: var(--light-green);
			box-shadow: 5px 5px 0 0 var(--light-green);
		}

		&-btn {
			align-self: flex-end;
			width: 100px;
			margin-top: 1em;
			padding: 0.5em;
			font-size: 0.9rem;
			font-style: italic;
			background-color: var(--black);
			color: var(--white);
			border: 1px solid var(--light-gray);
			outline: none;
			transition: border-color 0.3s ease;
			cursor: pointer;
		}

		&-btn:hover {
			// background-position: left;
			border-color: var(--light-green);
			// color: var(--light-green);
		}
	}

	&__links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		padding: 2em;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 1.2em 1em;
		text-decoration: none;
		color: var(--white);
		font-weight: 200;

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1em;
			height: 1em;
			padding: 1em;
			border: 1px solid var(--light-gray);
			font-size: 1.2rem;
			transition:
				box-shadow 0.3s ease,
				border-color 0.3s 0.1s ease-in;
		}

		&-text {
			font-size: 1rem;
			width: 140px;
			margin-left: 1.5em;
		}
	}
}

.photos {
	display: flex;
	flex-direction: column;

	&__gallery {
		align-self: center;
		max-width: 1800px;
		padding: 5em 2em;

		&-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1em;
		}

		li {
			list-style-type: none;
			height: 40vh;
			flex-grow: 1;
			overflow: hidden;
		}

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-size: cover;
			background-position: bottom;
			transition: transform 0.2s ease;
		}

		li:hover {
			cursor: pointer;
			.photos__gallery-img {
				transform: scale(1.2);
			}
		}
	}
}

.footer {
	position: relative;
	// height: 30dvh;
	width: 100%;
	padding-top: 2em;

	&__bg {
		width: 100%;
		height: 0;
		padding: 0;
		padding-bottom: 92%;
		padding-bottom: calc(100% * 1 / 2); /* zmiana na 4 przy 576px*/
		background-image: url('../footer__mountains.svg');
		background-size: cover;
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		flex-direction: column;
		// justify-content: space-evenly;
		align-items: center;
		height: 100%;
		width: 100%;
		// max-width: 1400px;
		padding: 7em 0 1.5em 0;
		color: var(--black);
		transform: translate(-50%, -50%);
		// height: 100%;
		// width: 100%;
	}

	&__container {
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		width: 100%;
	}

	&__brand {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 0.5em;

		.fa-mountain-sun {
			font-size: 1.2rem;
		}
	}

	&__link {
		display: none;
		width: 120px;
		padding: 0.5em;
		// border-bottom: 1px solid transparent;
	}

	&__link:hover {
		// border-bottom: 1px solid var(--black);
		color: var(--gray);
	}

	&__title {
		margin-left: 1em;
		font-size: 1.1rem;
		font-weight: 600;
		font-style: italic;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__creator {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-socials {
			display: none;
			flex-direction: row;
			padding-bottom: 2em;
		}

		&-text {
			color: var(--gray);
			font-size: 0.8rem;
		}

		&-link {
			color: var(--black);
			font-weight: bold;
			font-style: italic;
			text-decoration: none;
		}
	}

	&__text,
	&__year {
		font-size: 0.9rem;
	}

	.social-box {
		border: 2px solid var(--black);
	}

	.social-link {
		// font-size: 1.2rem;
		// text-decoration: none;
		color: var(--black);
	}
}

@media (hover: hover) {
	// target devices that can only hover
	.nav {
		&__logo:hover {
			color: var(--light-green);
		}

		&__item:hover::after,
		.nav--active::after {
			transform: translateX(0%);
			height: 50%;
		}
	}

	.about-us {
		.social-box:hover {
			box-shadow: 6px 6px 0px 0px var(--light-green);
			// border: 1px solid var(--light-green);
			cursor: pointer;
		}
	}

	.contact {
		&__link:hover {
			.contact__link-icon {
				box-shadow: 5px 5px 0 0 var(--light-green);
				border-color: var(--light-green);
			}
		}
	}

	.footer {
		.social-box:hover {
			border: 2px solid var(--pale-green);
			cursor: pointer;

			.social-link {
				color: var(--pale-green);
			}
		}
	}
}

@media (hover: none) {
	// target devices that can't hover
	.about-us {
		&__social {
			box-shadow: 6px 6px 0px 0px var(--light-green);
		}
	}

	.contact {
		&__link {
			&-icon {
				box-shadow: 5px 5px 0 0 var(--light-green);
			}
		}
	}
}

@media (min-width: 500px) {
	.footer {
		&__content {
			padding: 6em 0 1.5em 0;
		}
		&__bg {
			padding-bottom: calc(100% * 1 / 4); /* zmiana na 4 przy 576px*/
		}
	}
}

// media queries
@media (min-width: 576px) {
	.header {
		&__title {
			width: 50%;
			font-size: 2.2rem;
		}
	}

	.section {
		&__content-box {
			padding: 4em 4em;
		}
	}

	.bikes {
		&__card {
			&-spec {
				padding: 1em 0 4em 1em;

				&-name {
					font-size: 1.6rem;
				}

				&-content {
					padding-bottom: 0.7em;
				}

				&-icon {
					font-size: 1.3rem;
				}

				&-square {
					width: 1.2em;
					height: 1.2em;
					border: 1px solid var(--gray);
				}
			}
		}
	}

	.footer {
		&__content {
			padding: 7em 0 1.5em 0;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__logo {
			margin-left: 1em;
		}
		&__burger-btn {
			margin-right: 2em;
		}
	}

	.header {
		&__title {
			font-size: 2.4rem;
		}
	}

	.section {
		&__title-box {
			width: 30%;
			border-top: 3px solid var(--white);
		}

		&__title {
			padding-left: 0.5em;
			font-size: 2.4rem;
		}

		&__content-box {
			padding: 8em 4em;
			width: 70%;
		}

		&__content-title {
			font-size: 1.8rem;
		}

		&__content-text {
			padding: 2em 0;
			font-size: 1.1rem;
			line-height: 1.8em;
		}
	}

	.about-us {
		flex-direction: row;

		&__social-text {
			font-size: 1rem;
		}
	}

	.bikes {
		&__content-box {
			width: 100%;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}

		&__select {
			width: 50%;
			margin: 2em 0 2em 2em;
		}

		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__card {
			flex: 1 1 31.5%;

			&-spec {
				&-name {
					font-size: 1.3rem;
				}

				&-icon {
					font-size: 1rem;
				}

				&-square {
					width: 1em;
					height: 1em;
				}
			}
		}
	}

	.routes {
		&__content-box {
			align-self: flex-end;
		}
		&--line-svg {
			display: block;
		}
	}

	.service {
		&__content {
			max-width: 1200px;
			margin: 0 auto;
		}

		&__carousel {
			align-self: center;

			&-card {
				flex-direction: row;
				padding: 0em 4em;

				// box-sizing: border-box;
			}

			&-text {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
				padding: 0em 4em;
				font-size: 1rem;
			}

			&-img {
				width: 50%;
				// height: 300px;
			}

			&-btns {
				padding: 4em;
			}
		}
	}

	.contact {
		&__content {
			flex-direction: row;
		}

		&__links {
			flex-direction: column;
			align-items: center;
			flex-wrap: nowrap;
		}

		&__link {
			padding: 3em 1em;
		}
	}

	.footer {
		&__container {
			flex-direction: row;
			justify-content: space-around;
		}

		&__brand {
			align-self: flex-start;

			.fa-mountain-sun {
				font-size: 1.4rem;
			}
		}

		&__link {
			display: block;
			color: var(--black);
			font-size: 0.8rem;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
		}

		&__creator {
			&-socials {
				display: flex;
				flex-direction: row;
				padding-bottom: 2em;
			}

			&-text {
				font-size: 0.9rem;
			}
		}

		// &__creator-link {
		// 	// color: var(--black);
		// 	font-weight: bold;
		// 	font-style: italic;
		// 	text-decoration: none;
		// }
	}
}

@media (min-width: 992px) {
	.nav {
		display: flex;
		flex-direction: row;

		&__menu {
			width: auto;
		}

		&__logo {
			// font-size: 1.7rem;
			transition: color 0.2s ease-in-out;
		}

		&__burger-btn {
			display: none;
		}

		&__items {
			position: relative;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			height: auto;
			padding-top: 0;
			flex: 1;
			font-size: 1rem;
			visibility: visible;
			opacity: 1;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 134px;
			height: 100%;
			padding: 1.2em 1.2em;
			margin: 0;
			font-weight: 400;
			text-align: center;
			transition: box-shadow 0.2s ease-in-out;
		}

		&__item::after {
			top: 0;
			width: 85%;
			height: 50%;
			transform: translateY(-120%);
			transition: transform 0.2s ease-in-out;
		}

		&__item:hover::after {
			transform: translateY(0%);
			height: 50%;
		}
	}

	.bikes {
		&__card {
			&-spec {
				// padding: 1em 0 2em 0;

				&-name {
					font-size: 1.6rem;
				}

				&-icon {
					font-size: 1.3rem;
				}

				&-square {
					width: 1.2em;
					height: 1.2em;
				}
			}
		}
	}

	.routes {
		&__cards {
			padding-top: 7em;

			&-title {
				font-size: 1.8rem;
			}

			&-box {
				// display: flex;
				// flex-direction: column;
				padding-top: 4em;
			}

			&-card {
				// position: relative;
				padding: 4em 2em;
			}

			&-number {
				font-size: 7rem;
			}

			&-text {
				font-size: 1.1rem;
			}

			&-type {
				padding: 1em;
			}

			&-name {
				font-size: 1.5rem;
			}

			&-list {
				font-size: 1rem;

				li {
					padding: 0.3em 0;
				}
			}
		}
	}

	.contact {
		&__form {
			&-legend {
				font-size: 1.7rem;
			}

			&-input,
			&-select,
			&-textarea {
				padding: 1.3em 0.8em;
				font-size: 0.9rem;
			}

			&-btn {
				width: 120px;
				padding: 0.7em;
			}
		}

		&__link {
			padding: 4em 1em;

			&-icon {
				font-size: 1.5rem;
			}

			&-text {
				font-size: 1.3rem;
				width: 200px;
				margin-left: 2em;
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__logo {
			margin-left: 1em;
		}
		&__items {
			padding-right: 2em;
		}
	}
	.header {
		&__title {
			font-size: 2.8rem;
		}
	}
	.bikes {
		&__select {
			width: 20%;
		}
	}

	.footer {
		&__brand {
			padding-bottom: 2em;
		}

		&__title {
			font-size: 1.6rem;
		}

		&__link {
			width: 180px;
			font-size:1rem;
		}
	}
}

@media (min-width: 1400px) {
	.section {
		&__content-box {
			padding: 8em 8em;
		}
	}

	.bikes {
		&__card {
			max-width: 30%;
		}
	}

	.routes {
		&__content {
			max-width: 1400px;
		}

		&__cards {
			&-title {
				font-size: 2.1rem;
			}
		}
	}

	.service {
		&__carousel {
			&-img {
				height: 400px;
			}
		}
	}

	.contact {
		&__content {
			padding: 0;
		}

		&__form {
			&-legend {
				font-size: 2rem;
			}

			&-input,
			&-select,
			&-textarea {
				font-size: 1rem;
			}

			&-btn {
				font-size: 1rem;
			}
		}

		&__link {
			padding: 3em 1em;
			justify-content: space-evenly;

			&-icon {
				font-size: 1.5rem;
			}

			&-text {
				font-size: 1.3rem;
				width: 200px;
				margin-left: 6em;
			}
		}
	}

	.footer {
		&__bg {
			padding-bottom: calc(100% * 1 / 5); /* zmiana na 4 przy 576px*/
		}
	}
}
